@media (min-width: 0px) and (max-width: 300px) {
  .payment-types {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .header-container .btn-container,
  .header-bottom-nav,
  .profile-link,
  .wishlist-link {
    display: none;
  }
  .copyright-container {
    flex-direction: column;
    gap: 1rem;
  }
  .header-logo {
    max-width: 10.6rem;
  }
  header .header-container,
  header .header-container.food-header-container {
    min-height: 6.4rem;
    padding: 0rem 1.8rem;
  }
  .shop-left-sidebar-page.line .shop-header-container {
    padding: 0rem 1.8rem;
  }
  .carousel-item .carousel-caption {
    top: 8%;
  }

  .carousel-text-header {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .carousel-description {
    display: none;
  }
  .carousel-link {
    font-size: 1rem;
    max-width: 13rem;
    padding: 0.8rem 1.6rem;
  }
  .carousel-text {
    left: 5px;
  }

  .benefits .container {
    max-width: 380px;
  }

  .benefits h2 {
    font-size: 2.2rem;
  }

  .benefits-link {
    font-size: 1.8rem;
    line-height: 2.4;
  }
  .benefits-text p {
    margin-bottom: 2.8rem;
  }

  .info-box .container,
  .info-box-2 .container,
  .food-display .container {
    padding: 2.2rem 2.2rem 3.2rem 2.2rem;
    max-width: 720px;
  }

  .container .header-title .title h2 {
    font-size: 2.8rem;
  }
  .food-description-container .food-description .heading-title {
    font-size: 2rem;
  }
  .content-box p {
    font-size: 1.4rem;
  }
  .info-box,
  .info-box-2 {
    padding: 3rem 0;
  }
  .food-description-container {
    gap: 2rem;
  }
  .info-box-2 .row .food-description-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  /*****************************/
  .list-product-btn-container .box-compare,
  .list-product-btn-container .box-heart {
    display: none;
  }

  .list-product-btn {
    gap: 1.6rem;
  }

  .item-container .list-product-btn-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .container .item-container:hover .box-bag,
  .container .item-container:hover .box-view,
  .container .item-container .box-bag,
  .container .item-container .box-view {
    transform: translateY(-10%);
  }

  .list-product-btn-container .box-view span,
  .list-product-btn-container .box-bag span {
    padding: 0.8rem 0.4rem;
  }

  .list-product-btn-container .box-view svg,
  .list-product-btn-container .box-bag svg {
    width: 2rem;
    height: 2rem;
  }

  .list-product-btn-container .box-view,
  .list-product-btn-container .box-bag {
    display: block;
    visibility: visible;
    z-index: 999;
  }
  /*****************************************/
  .loadmore-btn,
  .see-less-btn {
    padding: 1rem 1.4rem 1rem 2rem;
  }
  .section-how .container {
    padding: 3rem 3rem 7rem 3rem;
  }
  .header-title.pb-large {
    padding-bottom: 3rem;
  }
  .section-how .container .row {
    row-gap: 4rem;
  }
  .info-container .how-text-box .heading-title {
    font-size: 2.2rem;
  }
  .how-text-box p {
    font-size: 1.6rem;
  }
  .info-container .how-img-box {
    width: 15rem;
    height: 15rem;
    margin: 1px auto -8rem;
    border-radius: 50%;
  }

  .parallax-section {
    height: 42rem;
  }
  .parallax-section .container {
    padding: 0;
    margin: 0;
  }
  .parallax-section a {
    padding: 2rem 1.5rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    border-radius: 4px;
  }

  .parallax-section .parallax-heading {
    font-size: 2.4rem;
  }

  .parallax-section .parallax-text {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .marquee .marquee-wrapper {
    animation: marquee-animation 6s linear infinite;
  }

  .marquee .marquee-wrapper .marquee-text p {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  .footer-container .container .row {
    padding: 3rem 0 0 0;
  }
  .footer-container {
    margin-bottom: 6rem;
  }
  /**************************************/
  /*    about-us section */
  /**************************************/

  .about-us-banner .text-box {
    font-size: 2.4rem;
  }

  h2.title {
    font-size: 2.2rem;
  }

  p.sub-title {
    font-size: 1.4rem;
  }
  .mission .text-container .text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
  .established .py-100-70 {
    padding: 7rem 0 3rem 0;
  }
  .mission .py-70-100 {
    padding: 0rem 0 10rem 0;
  }
  .shop-gram.py-65 {
    padding: 4rem 0 6.5rem 0;
  }

  .quality .container .content-container {
    padding: 8rem 2rem 3rem 2rem;
  }
  /**************************************/
  /*    contact section */
  /**************************************/
  .contact-page .ml-120,
  .contact-page .mr-120 {
    margin: auto;
  }
  .page-title {
    font-size: 2.2rem;
  }
  h5.heading {
    font-size: 1.8rem;
  }
  h6.small-heading {
    font-size: 1.6rem;
  }
  .contact-page .container {
    max-width: 100%;
  }
  .faq-page .accordion-button {
    font-size: 1.4rem;
  }
  .faq-page .accordion-body p {
    font-size: 1.4rem;
    padding-left: 1.5rem;
  }
  .login-page .grid {
    grid-template-columns: 1fr;
  }
  .register-page .py-65,
  .login-page .py-65 {
    padding: 3.5rem 0;
  }
  .account-sidebar .offcanvas-sidebar-btn {
    top: 32%;
    left: 0%;
  }
  .row .grid.columns-2 {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .py-75 {
    padding: 3.5rem 0;
  }
  .product-details-page .ps-25 {
    padding: 0 0.5rem;
  }
  .product-details-page .tab-reviews-heading .average-rating {
    font-size: 3.4rem;
    line-height: 4rem;
  }
  .product-details-page .product-add-menu .current-product-add-btns {
    flex-direction: column;
  }
  .timeline-page .timeline-inner {
    gap: 3rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    flex-direction: column !important;
  }
  .timeline-page .timeline-content,
  .timeline-page .timeline-image {
    z-index: 3;
    background-color: #fff;
  }
  .timeline-inner.timeline-content-end .timeline-content,
  .timeline-inner .timeline-content,
  .timeline-inner .timeline-image,
  .timeline-inner.timeline-content-end .timeline-image {
    text-align: center;
    width: 100%;
  }
  h4.timeline-title {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-bottom-nav,
  .profile-link,
  .wishlist-link {
    display: none;
  }
  .padding-left {
    padding-left: 4rem;
  }

  .carousel-item .carousel-caption {
    top: 14%;
  }

  .carousel-text-header {
    font-size: 4rem;
  }
  .carousel-description {
    font-size: 1.6rem;
    margin-bottom: 2.8rem;
  }
  .carousel-link {
    max-width: 19rem;
    font-size: 1.6rem;
    padding: 1.2rem 2.6rem;
  }

  .benefits .container {
    max-width: 830px;
  }
  .benefits h2 {
    font-size: 3.2rem;
    padding: 2rem 0;
  }

  .info-box .container,
  .info-box-2 .container,
  .food-display .container {
    padding: 3.2rem;
    max-width: 880px;
  }

  .container .header-title .title h2 {
    font-size: 3.2rem;
  }
  .section-how .container .row {
    row-gap: 4rem;
  }
  .how-text-box {
    height: 34rem;
  }
  .food-display {
    margin-top: 3rem;
  }
  .pb-large {
    padding-bottom: 7rem;
  }
  .section-how .pb-large,
  .info-box .pb-large {
    padding-bottom: 5rem;
  }
  .info-box,
  .info-box-2 {
    padding-top: 3rem;
  }
  .parallax-section {
    height: 35rem;
  }
  .parallax-section a {
    padding: 4rem 2rem;
    max-width: 100%;
  }

  .parallax-section .parallax-heading {
    font-size: 4rem;
  }

  .parallax-section .parallax-text {
    margin-top: 2.5rem;
    font-size: 1.6rem;
  }

  .marquee .marquee-wrapper {
    animation: marquee-animation 10s linear infinite;
  }

  .marquee .marquee-wrapper .marquee-text p {
    font-size: 6rem;
    line-height: 7.6rem;
  }
  .footer-container {
    margin-bottom: 6.5rem;
  }

  /**************************************/
  /*    about-us section */
  /**************************************/

  .about-us-banner .text-box {
    font-size: 5rem;
  }

  h2.title {
    font-size: 3.2rem;
  }
  /**************************************/
  /*    contact section */
  /**************************************/
  .contact-page .ml-120,
  .contact-page .mr-120 {
    margin: auto;
  }
  .page-title {
    font-size: 3.2rem;
  }
  .contact-page .container {
    max-width: 100%;
  }
  .faq-page .container {
    max-width: 880px;
  }
  .login-page .grid {
    grid-template-columns: 1fr;
  }
  .register-page .py-65,
  .login-page .py-65 {
    padding: 3.5rem 0;
  }
  .py-75 {
    padding: 5.5rem 0;
  }
  .product-details-page .ps-25 {
    padding: 0 0.5rem;
  }
  .product-details-page .tab-reviews-heading .average-rating {
    font-size: 4.2rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-bottom-nav {
    display: none;
  }
  .carousel-text-header {
    font-size: 5rem;
  }
  .carousel-description {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  .carousel-item .carousel-caption {
    top: 18%;
  }

  .benefits .container {
    max-width: 1080px;
  }
  .benefits h2 {
    font-size: 3.2rem;
  }

  .container .header-title .title h2 {
    font-size: 3.2rem;
  }
  .info-box .container,
  .info-box-2 .container,
  .food-display .container {
    padding: 3.6rem;
    max-width: 1120px;
  }
  .how-text-box {
    height: 43rem;
  }

  .info-box-2 img {
    object-fit: contain;
  }
  .food-description-container {
    gap: 2rem;
  }
  .parallax-section {
    height: 35rem;
  }
  .parallax-section a {
    padding: 4rem 2rem;
    max-width: 100%;
  }
  .parallax-section {
    background-attachment: fixed;
  }
  .parallax-section .content-box {
    left: 0;
    right: 0;
  }
  .parallax-section .quaternary-heading {
    font-size: 4rem;
  }

  .parallax-section .parallax-text {
    margin-top: 2.5rem;
    font-size: 1.6rem;
  }
  .marquee .marquee-wrapper {
    animation: marquee-animation 10s linear infinite;
  }
  .marquee .marquee-wrapper .marquee-text p {
    font-size: 6rem;
    line-height: 7.6rem;
  }
  .footer-container {
    margin-bottom: 6rem;
  }
  /**************************************/
  /*    about-us section */
  /**************************************/

  .about-us-banner .text-box {
    font-size: 5rem;
  }

  h2.title {
    font-size: 3.2rem;
  }
  /**************************************/
  /*    contact section */
  /**************************************/
  .contact-page .ml-120,
  .contact-page .mr-120 {
    margin: auto;
  }
  .contact-page .container {
    max-width: 100%;
  }
  .py-75 {
    padding: 5.5rem 0;
  }
  .product-details-page .ps-25 {
    padding: 0 0.5rem;
  }
  .product-details-page .tab-reviews-heading .average-rating {
    font-size: 6.2rem;
    line-height: 4rem;
  }
  .product-details-page .review-item.review-reply {
    margin-left: 6rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .mobile-menu-icon-container,
  .mobile-menu .fixed-menu-container {
    display: none;
  }
  .header-container .btn-container {
    display: block;
  }
  header .header-container {
    min-height: 9.2rem;
    padding: 0rem 4rem;
  }
  .nav-items > li {
    padding: 3.2rem 0;
  }
  .icons-container {
    gap: 1.6rem;
  }

  .benefits .container {
    max-width: 1080px;
  }
  .carousel-item .carousel-caption.slider-text-3 {
    top: 20%;
  }
  .info-box .container,
  .info-box-2 .container {
    padding: 4.8rem;
    max-width: 1250px;
  }
  .food-display .container {
    padding-bottom: 5rem;
  }
  .parallax-section {
    background-attachment: fixed;
  }
  .parallax-section .content-box {
    left: 0;
    right: 0;
  }
  .quality .container p.sub-title {
    font-size: 2rem;
  }
  .form-container {
    max-width: 70.5rem;
  }
  .article-navigator .circular-border {
    width: 4.6rem;
    height: 4.6rem;
  }
  .shop-left-sidebar-page .select-box .form-select {
    max-width: 19rem;
    padding: 1rem 1.8rem;
  }
  .product-details-page .tab-content .grid {
    grid-template-columns: 4fr 8fr;
  }
  .product-details-page .tab-pane {
    padding: 3.5rem;
  }
  .product-details-page .nav-item .nav-link {
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
  }
  .product-details-page .tab-reviews .sort-select {
    min-width: 19rem;
    padding: 1rem 1.8rem;
  }
  .product-details-page .review-item.review-reply {
    margin-left: 6rem;
  }
}

@media (min-width: 1441px) {
  .mobile-menu-icon-container,
  .mobile-menu .fixed-menu-container {
    display: none;
  }
  .header-container .btn-container {
    display: block;
  }
  header .header-container {
    min-height: 9.2rem;
    padding: 0rem 4rem;
  }
  .nav-items > li {
    padding: 3.2rem 0;
  }

  .icons-container {
    gap: 1.6rem;
  }

  .benefits .container {
    padding: 6rem;
    max-width: 1080px;
  }
  .carousel-item .carousel-caption.slider-text-3 {
    top: 20%;
  }
  .food-display .container {
    padding-bottom: 5rem;
  }
  .how-text-box {
    height: 36rem;
  }
  .parallax-section {
    background-attachment: fixed;
  }
  .parallax-section .content-box {
    left: 0;
    right: 0;
  }
  .quality .container p.sub-title {
    font-size: 2rem;
  }
  .form-container {
    max-width: 70.5rem;
  }
  .article-navigator .circular-border {
    width: 4.6rem;
    height: 4.6rem;
  }
  .shop-left-sidebar-page .select-box .form-select {
    max-width: 19rem;
    padding: 1rem 1.8rem;
  }
  .product-details-page .tab-content .grid {
    grid-template-columns: 4fr 8fr;
  }
  .product-details-page .tab-pane {
    padding: 3.5rem;
  }
  .product-details-page .nav-item .nav-link {
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
  }
  .product-details-page .tab-reviews .sort-select {
    min-width: 19rem;
    padding: 1rem 1.8rem;
  }
  .product-details-page .review-item.review-reply {
    margin-left: 6rem;
  }
}
